
body {
  text-align: center;
  background-color: rgb(228, 236, 255);
}
.head{
  font-weight: bolder;
  color: #29386c;
  text-decoration: underline;
}
 .afghanistan-page {
  margin-top: 80px;
  text-align: center;
  color: #414a69;
}

.afghanistan-table {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 95%;
}

.afghanistan-table th {
  background-color: #333;
  color: white;
  padding: 10px;
  font-weight: bolder;
}

.afghanistan-table td, .afghanistan-table th {
  border: 1.5px solid #ddd;
  text-align: center;
  padding: 20px;
  font-weight: 700; 

}

.blue-background {
  background-color: #29386c;
  color: white;
}

.orange-background {
  background-color: rgb(220, 148, 14);
  color: white;
}

/* body {
  text-align: center;
  background-color: rgb(228, 236, 255);
}

.head {
  font-weight: bolder;
  color: #29386c;
  text-decoration: underline;
}

.afghanistan-page {
  margin-top: 80px;
  text-align: center;
  color: #414a69;
}

.afghanistan-table {
  text-align: center;
  margin: 0 auto; 
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 95%;
}

.afghanistan-table th {
  background-color: #333;
  color: white;
  padding: 10px;
  font-weight: bolder;
}

.afghanistan-table td,
.afghanistan-table th {
  border: 1.5px solid #ddd;
  text-align: center;
  padding: 20px;
  font-weight: 700;
}

.blue-background {
  background-color: #29386c;
  color: white;
}

.orange-background {
  background-color: rgb(220, 148, 14);
  color: white;
}

@media (max-width: 600px) {
  .afghanistan-page {
    margin-top: 40px; 
    margin-bottom: 40px;
  }

  .afghanistan-table {
    width: 50%; 
    font-size: 14px; 
    padding-bottom: 30px;
  }

  .afghanistan-table th,
  .afghanistan-table td {
    padding: 10px; 
  }
} */
